mixin TextField(form, input_name, input_label, input_icon, req=false)
	.input-group.mb-3
			span.input-group-text 
				i.material-icons-round(tabindex='0', role='button')= input_icon
			.form-floating
				input.form-control(type='text', name=input_name, id='input-'+form+'-'+input_name, placeholder=input_label, required=req)
				label(for='input-'+form+'-'+input_name)= input_label

mixin Select(form, select_name, select_label, select_icon)
	.input-group.mb-3
		span.input-group-text
			i.material-icons(tabindex='0', role='button')= select_icon
		.form-floating
			select.form-select(id='input-'+form+'-'+input_name,)
				block
			label(for='input-'+form+'-'+input_name)= select_label

mixin Button(button_label, button_icon, button_type='button')
	button.btn(type=button_type, class!=attributes.class)
		i.material-icons-round(aria-hidden='true')= button_icon
		span= button_label

mixin SearchBox()
	form.searchBox_form
		.searchBox
			i.material-icons(tabindex='0', role='button') search
			input(type='text', placeholder='Որոնել')

mixin ContextMenu(infoRow)
	.contextMenu
		if infoRow
			.contextMenuRow
				span()
			.contextMenuRow
				button(class='contextMenu_edit')
				button(class='contextMenu_delete')
		else 
			.contextMenuRow
				button(class='contextMenu_edit')
				button(class='contextMenu_delete')
