mixin TextField(input_name, input_label, input_icon, req=false)
	.input-group
		span.input-group-text
			i.material-icons-round(tabindex='0', role='button')= input_icon
		input.form-control(type='text', name=input_name, placeholder=input_label, required=req)

	//- .input-group
	//- 	span.input-group-text 
	//- 		i.material-icons-round(tabindex='0', role='button')= input_icon
	//- 	.form-floating
	//- 		input.form-control(type='text', name=input_name, id='input-'+form+'-'+input_name, placeholder=input_label, required=req)
	//- 		label(for='input-'+form+'-'+input_name)= input_label

mixin Select(select_name, select_icon)
	.input-group
		span.input-group-text
			i.material-icons(tabindex='0', role='button')= select_icon
		select.form-select(id='input-'+form+'-'+input_name,)
			block

mixin Button(button_label, button_icon, button_type='button')
	button.btn(type=button_type, class!=attributes.class)
		i.material-icons-round.me-1(aria-hidden='true')= button_icon
		span= button_label

mixin SearchBox()
	.searchBox.input-group
		span.input-group-text
			i.material-icons-round(tabindex='0', role='button') search
		input.form-control.shadow-none(type='text', name='query', placeholder='Որոնել')
		//- .searchBox
		//- 	i.material-icons(tabindex='0', role='button') search
		//- 	input(type='text', placeholder='Որոնել')

mixin Row()
	.row.g-2
		block

mixin ContextMenu(infoRow)
	.contextMenu
		if infoRow
			.contextMenuRow
				span()
			.contextMenuRow
				button(class='contextMenu_edit')
				button(class='contextMenu_delete')
		else 
			.contextMenuRow
				button(class='contextMenu_edit')
				button(class='contextMenu_delete')

mixin FileInput(name, label, icon)
	.input-group
		span.input-group-text
			i.material-icons(tabindex='0', role='button')= icon
		input.form-control(type='file')

mixin Toast(bg, message, id)
	.toast.align-items-center.text-white.border-0(role='alert' aria-live='assertive' aria-atomic='true' data-bs-delay='2000' class='bg-'+bg id=id)
		.d-flex
			.toast-body
			= message
			button.btn-close.btn-close-white.me-2.m-auto(type='button' data-bs-dismiss='toast')

