mixin TextField(input_name, input_label, input_icon, req=false)
	.input-group
		span.input-group-text
			i.material-icons-round(tabindex='0', role='button')= input_icon
		input.form-control(type='text', name=input_name, placeholder=input_label, required=req)

mixin Select(select_name, select_icon)
	.input-group
		span.input-group-text
			i.material-icons(tabindex='0', role='button')= select_icon
		select.form-select(id='input-'+form+'-'+input_name,)
			block

mixin Button(button_label, button_icon, button_type='button')
	button.btn(type=button_type, class!=attributes.class)
		i.material-icons-round.me-1(aria-hidden='true')= button_icon
		span= button_label

mixin SearchBox()
	.searchBox.input-group
		span.input-group-text
			i.material-icons-round(tabindex='0', role='button') search
		input.form-control.shadow-none(type='text', name='query', placeholder='Որոնել')

mixin Row()
	.row.g-2
		block

mixin ContextMenu()
	.contextMenu.dropdown
		ul.dropdown-menu
			li
				a.dropdown-item.ctxEdit
					i.material-icons(tabindex='0', role='button') edit
					span Խմբագրել
			li
				a.dropdown-item.ctxDelete
					i.material-icons(tabindex='0', role='button') delete
					span Ջնջել


mixin FileInput(name, label, icon)
	.input-group
		span.input-group-text
			i.material-icons(tabindex='0', role='button')= icon
		input.form-control(type='file', name='picture')

mixin Hidden(name, data)
	input(type="hidden", name=name, value=data)

mixin Modal(title, btn, btnText, id, hasBody = true)
	.modal.fade(tabindex='-1' aria-hidden='true' id=id)
		.modal-dialog
			.modal-content
				.modal-header
					h5.modal-title= title
					button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
				if hasBody
					.modal-body
						block
				.modal-footer
					button.btn(type='button',class='btn-'+btn)= btnText
